
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger" size="small">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <form method="POST" class="form-centered">

      <ion-item>
        <ion-input type="text" #user labelPlacement="floating">
          <div slot="label">
            Usuario 
          </div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" #email labelPlacement="floating">
          <div slot="label">
            Email 
          </div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="Password" #password labelPlacement="floating">
          <div slot="label">
            Contraseña 
          </div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

  
      <ion-button (click)="register(user, email, password)" expand="block" color="primary" class="submit-button">
        Crear Usuario
      </ion-button> 
    </form>
  </div>
</ion-content>
